<?xml version="1.0" encoding="GBK"?>
<configuration scan="true">

    <include resource="tonysyslog.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{30}.%method - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.tonysys.admin" level="INFO"/>
    <logger name="com.tonysys.admin.dao" level="DEBUG"/>
    <logger name="com.tonysys.admin.service" level="DEBUG"/>
    <logger name="com.tonysys.admin.controller" level="DEBUG"/>


    <root>
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </root>

    <!--business log-->
    <appender name="businessLog" class="ch.qos.logback.core.FileAppender">
        <file>/ROOT/logs/tonysys.com/business.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/ROOT/logs/tonysys.com/business.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}\t%msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.tonysys.admin.service" level="DEBUG">
        <appender-ref ref="businessLog"/>
    </logger>

</configuration>
