<?xml version="1.0" encoding="GBK"?>
<configuration scan="true">

    <include resource="adlog.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{30}.%method - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.dajie.ads" level="INFO"/>
    <logger name="com.dajie.ads.service.impl.AdSearchControlServiceDirectionalImpl" level="DEBUG"/>
    <logger name="com.dajie.ads.servlet.AdShowServlet" level="DEBUG"/>
    <logger name="com.dajie.ads.dao.impl.AdItemDaoImpl" level="DEBUG"/>
    <logger name="com.dajie.ads.dao.impl.AdBoxDaoImpl" level="DEBUG"/>
    <logger name="uis.spend" level="INFO"/>
    <logger name="match" level="INFO"/>

    <root>
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </root>

    <!--business log-->
    <appender name="businessLog" class="ch.qos.logback.core.FileAppender">
        <file>/ROOT/logs/q.ads.dajie.com/business.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/ROOT/logs/q.ads.dajie.com/business.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}\t%msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.dajie.ads.servlet.AdShowServlet" level="DEBUG">
        <appender-ref ref="businessLog"/>
    </logger>

</configuration>
